<html>

<head>
    <title>CLA</title>
    <style>
        img { image-rendering: -webkit-optimize-contrast; }
    </style>
</head>

<body>

<h1>CLA: Cortical Learning Algorithm</h1>
<p>Version 0.1</p>

<!-- Form for creating network -->
<h2>Create</h2>
<form action="/create" method="post">
Size: <input type="text" name="size" value={{networkSize}}><br>
Layers: <input type="text" name="layers" value={{networkLayers}}><br>
<input type="submit" value="Submit">
</form>

<!-- Visual representation -->
<h2>Visual Representation</h2>
<img src={{outputURL}} width="100" height="100">

<!-- Modify -->
<h2>Modify</h2>
<form action="/randomize" method="post">
    <input type="submit" value="Randomize">
</form>

<!-- Train -->

<h2>Training</h2>

<!-- form for uploading image sequence -->
<form action="/upload" method="post" enctype="multipart/form-data">
  Select images: <input type="file" name="uploads[]" multiple="multiple" />
  <input type="submit" value="Start upload" />
</form>

</body>

</html>